<div class="container">
  <h3 class="mb-4">Patients dans l'établissement</h3>
  <div class="row">
     <div class="col-md-4 mb-4" *ngFor="let item of ListPatientsInfEtab">
       <div class="card">
         <div class="card-header bg-primary text-white">
           <h5 class="card-title">Nom: {{item.nom }} Prenom: {{item.prenom }} </h5>
         </div>
         <div class="card-body">
           <p class="card-text"> Etat: {{item.typatient }} </p>
           <p class="card-text"> Depuis: {{lastAppointmentDates[item.idpatient] | date:'short'}} </p>
         </div>
       </div>
     </div>
  </div>
 </div>
 