<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-right">
            <button class="btn btn-outline-light mb-3" (click)="buttonAjouter()">Ajouter Ordonnance</button>
        </div>
        <div class="col-lg-12">
            <div class="search-box">
                <input type="text" class="form-control" placeholder="Rechercher..." [(ngModel)]="searchText">
                <i class="fa fa-search search-icon"></i>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card-deck">
                <div class="card ord-card" *ngFor="let ord of ordenances | filter: searchText | paginate: { itemsPerPage: pageSize, currentPage: page }">
                    <div class="card-body">
                        <h5 class="card-title">{{ ord.titre }}</h5>
                        <p class="card-text">{{ ord.instructions }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Dosage: {{ ord.dosage }}</li>
                            <li class="list-group-item">Fréquence: {{ ord.frequence }}</li>
                            <li class="list-group-item">Durée: {{ ord.duree }}</li>
                        </ul>
                        <div class="card-actions">
                            <ul>
                            <button class="btn btn-info" (click)="buttonModifier(ord.id)">Modifier</button>
                            <button class="btn btn-danger" (click)="deleteM(ord.id)">Supprimer</button>
                        </ul>
                    </div>
                </div>
            </div>
            <pagination-controls class="pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>
