.container {
  background-color: #f8f9fa;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #343a40;
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background-color: #20ded8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  padding: 20px;
}

.card-title {
  color: #ff0000;
}

.card-text {
  color: #000000;
}

.form-control {
  border: 1px solid #84c1ff;
}

.btn {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-danger {
  background-color: #bf2333;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #d71a2d;
  border-color: #d40015;
}

.btn-primary,
.btn-danger {
  color: #fff;
}

.text-right {
  text-align: right;
}

.hr {
  border-top: 1px solid #ced4da;
  margin-top: 20px;
  margin-bottom: 20px;
}

.total-section {
  margin-top: 20px;
}

.quantite-section {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.quantite-section button {
  margin-right: 5px;
}
