/* Style pour le tableau */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 2px solid #4CAF50;
  }
  
  /* Style pour les en-têtes de colonne */
  th {
    text-align: left;
    padding: 12px;
    transition: background-color 0.3s ease;
    border-right: 2px solid #afc2af; /* Bordure à droite de chaque en-tête */
  }
  .black-text {
    color: black;
  }
  
  /* Style pour chaque colonne */
  .col-id {
    background-color: #4CAF50; /* Vert */
    color: white;
  }
  
  .col-description {
    background-color: #21adf3; /* Bleu */
    color: white;
  }
  
  .col-date {
    background-color: #21adf3; /* Orange */
    color: white;
  }
  
  .col-type {
    background-color: #21adf3; /* Violet */
    color: white;
  }
  .col-action {
    background-color: #21adf3; /* Violet */
    color: white;
  }
  /* Effet de survol sur les en-têtes */
  th:hover {
    background-color: #45a049;
  }
  
  /* Style pour les lignes impaires */
  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Style pour les cellules */
  td {
    padding: 12px;
    transition: background-color 0.3s ease;
  }
  
  /* Effet de survol sur les cellules */
  td:hover {
    background-color: #f9f9f9;
  }
  
  /* Style pour les cellules de données numériques */
  td.number {
    text-align: right;
  }
  
  /* Style pour le titre */
  h2 {
    color: #4CAF50;
    transition: color 0.3s ease;
  }
  
  /* Effet de survol sur le titre */
  h2:hover {
    color: #45a049;
  }
  .container {
    margin-bottom: 20px;
}

.importance-tt {
  background-color: red;
  color: white;
}

.importance-purple {
  background-color: rgb(234, 62, 4);
  color: white;
}

.importance-yellow {
  background-color: rgb(248, 145, 10);
  color: black;
}
.text-red {
  color: red;
}

.text-purple {
  color: purple;
}

.text-yellow {
  color: rgb(255, 204, 0);
}
.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.toggle-button {
  background-color: #007bff;
  color: #181616;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.type-selector {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}
/* Styles pour les carrés de couleur avec indications d'importance */
/* Styles pour les carrés de couleur avec indications d'importance */
.color-squares {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.color-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  margin-right: 20px;
  border-radius: 4px;
}

.red {
  background-color: red;
  color: white;
}

.purple {
  background-color: rgb(234, 50, 4);
  color: white;
}

.yellow {
  background-color: rgb(248, 125, 10);
  color: black;
}

.label {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
.repondre-button {
  background-color: #21adf3; /* Change this to the desired color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.repondre-button:hover {
  background-color: #00bcd4; /* Change this to the desired hover color */
}
.top-users {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top-user-item {
  width: 48%;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.top-user-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.top-user-item h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.top-user-item p {
  margin-bottom: 0;
  font-size: 1rem;
  color: #666;
}
.property-name {
  color: rgb(11, 23, 247);
}
.importance-indicators {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.importance-indicator {
  display: flex;
  align-items: center;
}

.importance-indicator .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.importance-indicator.importance-tt .circle.tt {
  background-color: red;
}

.importance-indicator.importance-purple .circle.purple {
  background-color: rgb(234, 104, 4);
}

.importance-indicator.importance-yellow .circle.yellow {
  background-color: rgb(248, 125, 10);
}