<div class="templatemo-content-container">
    <div class="panel panel-default">
        <div class="panel-heading">Rdv</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Patient</th>
                        <th>Etat</th>
                        <th>Medecin</th>
                        <th>Date</th>    
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listeRdv">
                        <td>{{ item.patient.nom }} {{ item.patient.prenom }}</td>
                        <td>{{ item.patient.typatient }}</td>
                        <td>{{ item.medecin.nom }} {{ item.medecin.prenom }}</td>
                        <td>{{ item.dateRDV | date:'short' }}</td>
                      
                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
