<head><link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
  integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
  crossorigin=""/>
</head>
<form>
  <div class="form-group">
    <label for="nomEtab">nomEtab</label>
    <input type="text" class="form-control" [(ngModel)]="etab.nomEtab" [ngModelOptions]="{standalone: true}" placeholder="nomEtab">
  </div>
  <div class="form-group">
    <label for="numFixe">numFixe</label>
    <input type="text" class="form-control" [(ngModel)]="etab.numFixe" [ngModelOptions]="{standalone: true}" placeholder="numFixe">
  </div>
  <div class="form-group">
    <label for="adresse">adresse</label>
    <input type="text" class="form-control" [(ngModel)]="etab.adresse" [ngModelOptions]="{standalone: true}" placeholder="adresse">
  </div>
  <div class="form-group">
    <label for="typeEtab">Type d'établissement</label>
    <select class="form-control" [(ngModel)]="etab.typeEtab" [ngModelOptions]="{standalone: true}">
      <option value="HOPITAL">Hôpital</option>
      <option value="CLINIQUE">Clinique</option>
    </select>
  </div>
  <div class="form-group">
    <label for="nbLits">nbLits</label>
    <input type="text" class="form-control" [(ngModel)]="etab.nbLits" [ngModelOptions]="{standalone: true}" placeholder="nbLits">
  </div>
  <div class="form-group">
    <label for="prixNuit">prixNuit</label>
    <input type="number" class="form-control" [(ngModel)]="etab.prixNuit" [ngModelOptions]="{standalone: true}" placeholder="prixNuit">
  </div>
  <div class="form-group">
    <div class="input-group">
      <img [src]="etab.image" alt="Ancienne Image" style="width: 20%;height: 20%;" class="mr-2">
      <input type="file" style="display: none;" #fileInput accept="image/*" (change)="onFileSelected($event)">

    </div>
    <div>      <button type="button" class="btn btn-secondary" (click)="fileInput.click()">Modifier Image</button>
</div>
  </div>
  <div class="form-group">
    <label for="adresse">adresse</label>
    <!--debut-->
    <div id="maCarte"></div>
    <Label for="lat" style="margin-top: 40px;visibility: hidden; margin-left: 110px">Latitude :</Label>
<input  style="width: 150px;visibility: hidden;"   type="number" step="any"  id="lat" name="lat" readonly />

<Label for="lon" style="margin-left: 50px;visibility: hidden;">Longitude :</Label>
<input style="width: 150px;visibility: hidden;"  type="number" step="any" id="lon" name="lon" readonly />
<!--fin-->
  </div>
  
  <button type="submit" class="btn btn-primary" (click)="modifierEtablissement()">Enregistrer</button>
</form>
