<div class="container">
    <h2>Attendance Tracking</h2>
  
    <button (click)="startAttendance()" [disabled]="timerActive">Start Hours Count</button>
    <div *ngIf="startAttendanceSuccess" class="success-message">Attendance started successfully.</div>
    
    <button (click)="stopTimer()" [disabled]="!timerActive">Stop</button>
    <div *ngIf="stopAttendanceSuccess" class="success-message">Attendance stopped successfully.</div>
    
    <!-- <div id="timer">{{ formattedTime }}</div> -->
  </div>
  