<form>
  <div class="form-group">
    <label for="nomEtab">nomproduit</label>
    <input type="text" class="form-control"   [(ngModel)]="produit.nomproduit" [ngModelOptions]="{standalone: true}" placeholder="nomproduit">
  </div>
  <div class="form-group">
    <label for="numFixe">description</label>
    <input type="text" class="form-control" [(ngModel)]="produit.description" [ngModelOptions]="{standalone: true}"  placeholder="description">
  </div>
 
    <div class="form-group">
      <label for="prixNuit">prix</label>
      <input type="number" class="form-control"  [(ngModel)]="produit.prix" [ngModelOptions]="{standalone: true}" placeholder="prix">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)">
    </div>
  <button type="submit" class="btn btn-primary" (click)="ajouterProduit()">Ajouter</button>
</form>