<!-- <div id="pdfContent" style="display: none;">
    <div style="font-size: 18px; font-weight: bold; margin-bottom: 20px; text-align: center;">
      Ordonnance Médicale
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Titre:</strong> {{ ordenance.titre }}
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Instructions:</strong> {{ ordenance.instructions }}
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Dosage:</strong> {{ ordenance.dosage }} mg
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Fréquence:</strong> {{ ordenance.frequence }} fois par jour
    </div>
    <div style="margin-bottom: 10px;">
      <strong>Durée:</strong> {{ ordenance.duree }} jours
    </div>
  </div>
  <button (click)="generatePDF()">Download PDF</button>
   -->