<div class="row">
  <div>
    <button type="button" class="btn btn-success" (click)="buttonAjouter()">Ajouter</button>
  </div>
    <div *ngFor="let item of listeAmbulance" class="col-md-4 mb-3">
      <div class="custom-block custom-block-full">
        <button type="button" class="btn btn-warning mr-2" (click)="buttonUpdate(item.idAmb)">Update</button>
          <button type="button" class="btn btn-danger mr-2" (click)="DeleteAmbulance(item.idAmb)">Delete</button>
          <button type="button" class="btn btn-primary" (click)="buttonModifierAmbulancier(item.idAmb)">Change Ambulancier</button>


        <div class="custom-block-image-wrap">
          <a (click)="buttonDetail(item.idAmb)">
            <img [src]="item.image" class="custom-block-image img-fluid" alt="">

          </a>
        </div>
  
        <div class="custom-block-info">
          <h5 class="mb-2">
            <a class="fa fa-ambulance " >
              <span>Marque :{{ item.marque }}</span>
            </a>
          </h5>
          
          <a class="bi bi-hdmi-fill " >
            <span>Matricule :{{ item.matricule }}</span>
          </a>
          <div class="custom-block-bottom d-flex justify-content-between mt-3">
            <a class="bi bi-calendar-check">
              <span>Dernier Entretien :{{ item.dateDernEntret }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  